@import './_variables.scss';

:root {
  @each $name, $value in $theme-colors {
    --#{$name}: #{$value};
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  background: $gradient-background;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: $color-text-primary;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
