// Colors
$color-background: #131a29;
$color-primary: #935af5;
$color-text: #ffffff;
$color-text-secondary: #b3b3b3;
$color-border: #333333;

// Fonts
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 1rem;

// Gradients
$gradient-background: linear-gradient(180deg, #1f2937, #131928);

// Cards
$card-border-radius: 0.25rem;
$card-bg-color: #243144;
